<div class="login-app">
  <form class="login-form" (ngSubmit)="login()">
    <label>
      Username:
      <input type="text" name="username" [(ngModel)]="username" />
    </label>
    <label>
      Password:
      <input type="password" name="password" [(ngModel)]="password" />
    </label>
    <button type="submit">Login</button>
  </form>
  <!-- This is the chat bot component that is exposed by the shared library -->
  <ac-chat-bot></ac-chat-bot>
  <div *ngIf="isLoggedIn$ | async">User is logged in!</div>
  <div *ngIf="(isLoggedIn$ | async) === false">User is not logged in!</div>
</div>